body{
    background: linear-gradient(#1e1ef7,#bdb7ff);
    background-attachment: fixed;
}

#container{
    width: 750px;
    margin: auto;
    border-radius: 20px;
        
}

#menutopo{
    height: 50px;
    background: linear-gradient(90deg,#ffb38a,#ff5900);
    border-radius: 20px 20px 0px 0px;
}

header{
    background: linear-gradient(90deg,#ffe59f,#bf8b00);
    padding:30px;
    padding-top: 50px;
}

#content{
    background-color: #fff;
    
    border-radius: 0px 0px 20px 20px;
}

#menuesq, article{
    display: inline-block;
    vertical-align: top;
}

#menuesq{
    width: 25%;
}

#menuesq a{
    display: block;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

article{
    width: 70%;
}