 body {
            font-family: verdana; 
            font-size: 10pt;
        }
        
        table.cal {
            color: #06425C;
            border-spacing: 0;
            border: 3px solid black;
            margin: auto;
            margin-top: 0px;
        }
        
        /*Altera a cor de fundo nas linhas (par e ímpar)*/        
        tr:nth-child(odd) { /*ímpar*/
            background: #fffefe;
        }
        
        tr:nth-child(even) { /*par*/
            background: #b6faba;
        }

        
        tr>td:first-child{
            color: #900707;
        }
        
        td:nth-child(even){
            border-right: 1px solid #56c4ff;            
            border-left: 1px solid #56c4ff;
        }
        
        .cal caption {
            text-transform: uppercase;
            background-color: #2a2a6f;
            color: #ffffff;
            margin-top: 0px;
            height: 25px;
            padding-top: 10px;
        }
        
        .cal th,
        .cal td {
            margin: 2px;
            padding-bottom: 2px;            
        }  
        
        th {
            text-align: center;
            background: #FFFFFF;
        }
        
        .cal td {
            width: 55px;
            height: 55px;
            vertical-align: center;
            text-align: center;
        }
        
        .feriado {           
            background-color: #d7f6a0;
            color: #900707;
        }
        
        
        span {
            display: none;
            text-align: center;
            color: #0e15c1;
            font-size: 7pt;
        }
        
        td:hover>span {
            display: block;
        }


img{
    width: 18px;
    height: 18px;
}


.cinza{
    color: #919191
}

.red{
    color: #900707;
}


header>img{
    width: 400px;
    height: 200px;
    
}


figure{
    margin: auto;
    width: 400px;
    margin-top: 50px;
}